<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="API tests">
    <listeners>
            <listener class-name="io.qameta.allure.testng.AllureTestNg" />
    </listeners>

    <test name="API requests ">
        <classes>
            <class name="deleteuserrequest.DeleteUserRequestRunner"/>
            <class name="createuserrequest.CreateUserRequestRunner"/>
            <class name="listusersrequest.ListUsersRequestRunner"/>
            <class name="updateuserrequest.UpdateUserRunner"/>
        </classes>
    </test>
</suite>